
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container">
    <p>@ViewBag.ErrorMessage</p>
</div>

@section Header{
    <header class="major">
        <h2>
            Access Denied
        </h2>
    </header>
   
}