
@{
    ViewBag.Title = "AdvancedSearch";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div>

    <div id="userSearch">



    </div>

    <div id="postSearch">

    </div>

    <div id="groupSearch">

    </div>

</div>




@section Header{
    <header class="major">
        <h2>
            Advanced search
        </h2>
    </header>
}

