
@{
    ViewBag.Title = "NoResults";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@section Header{
    <header class="major">
        <h2>
            No results found...
        </h2>
    </header>
}




